<div class="container">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/home-tienda/{{ idTienda }}" [queryParams]="{ idTienda: idTienda }">
          Bienvenido {{ nombreTienda }}
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home-tienda/{{ idTienda }}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/historial-tienda/{{ idTienda }}">Historial de ventas</a>
            </li>
          </ul>
        </div>
        <div class="d-flex">
          <button class="btn btn-outline-danger" (click)="logout()">Cerrar sesión</button>
        </div>
      </div>
    </nav>
  </header>

  <section>
    <div class="container mt-4">
      <h2>Historial de ventas</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Artículo</th>
            <th>Fecha</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let compra of historialCompras">
            <td>
              <div *ngIf="compra.articuloInfo">
                <img [src]="compra.articuloInfo.imagen || '../../assets/default-image.png'" alt="Imagen del Artículo"
                  width="50" height="50">
              </div>
            </td>
            <td>
              <div *ngIf="compra.articuloInfo">
                {{ compra.articuloInfo.nombre }}
              </div>
            </td>
            <td>{{ compra.fecha | date }}</td>
            <td>${{ compra.total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>