<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<div class="container">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/home-tienda/{{ idTienda }}" [queryParams]="{ idTienda: idTienda }">
          Bienvenido {{ nombreTienda }}
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home-tienda/{{ idTienda }}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/historial-tienda/{{ idTienda }}">Historial de ventas</a>
            </li>
          </ul>
        </div>
        <div class="d-flex">
          <button class="btn btn-outline-danger" (click)="logout()">Cerrar sesión</button>
        </div>
      </div>
    </nav>
  </header>

  <div class="container mt-3">
    <button class="btn btn-primary" (click)="abrirFormularioIngresoArticulo()">Agregar Artículo</button>




    <div *ngIf="mostrarFormulario">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoArticulo.nombre" required>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea class="form-control" id="descripcion" [(ngModel)]="nuevoArticulo.descripcion" required></textarea>
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio:</label>
        <input type="number" class="form-control" id="precio" [(ngModel)]="nuevoArticulo.precio" required>
      </div>
      <div class="mb-3">
        <label for="stock" class="form-label">Stock:</label>
        <input type="number" class="form-control" id="stock" [(ngModel)]="nuevoArticulo.stock" required>
      </div>
      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen:</label>
        <input type="file" class="form-control" id="imagen" (change)="cargarImagen($event)" required>
        <small id="imagenHelp" class="form-text text-muted">Selecciona una imagen para el artículo.</small>
      </div>

      <button class="btn btn-success" (click)="ingresarArticulo()">Ingresar</button>
      <button class="btn btn-secondary" (click)="cerrarFormularioIngresoArticulo()">Cancelar</button>
    </div>




    <table class="table">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let articulo of listaArticulos">
          <td>
            <img [src]="articulo.imagen || '../../assets/default-image.png'" alt="Imagen del artículo"
              class="img-thumbnail" style="max-height: 50px; max-width: 50px;">
          </td>
          <td>{{ articulo.nombre }}</td>
          <td>{{ articulo.descripcion }}</td>
          <td>${{ articulo.precio }}</td>
          <td>
            <button class="btn btn-warning" (click)="editarArticulo(articulo.idArticulo)"><i
                class="fa-solid fa-pen-to-square"></i></button>
            <button class="btn btn-danger" (click)="eliminarArticulo(articulo.idArticulo)"><i
                class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="mostrarFormularioEdicion">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="articuloSeleccionado.nombre" required>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea class="form-control" id="descripcion" [(ngModel)]="articuloSeleccionado.descripcion"
          required></textarea>
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio:</label>
        <input type="number" class="form-control" id="precio" [(ngModel)]="articuloSeleccionado.precio" required>
      </div>
      <div class="mb-3">
        <label for="stock" class="form-label">Stock:</label>
        <input type="number" class="form-control" id="stock" [(ngModel)]="articuloSeleccionado.stock" required>
      </div>
      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen:</label>
        <input type="file" class="form-control" id="imagen" (change)="cargarImagen($event)">
        <small id="imagenHelp" class="form-text text-muted">Selecciona una nueva imagen para el artículo.</small>
      </div>

      <button class="btn btn-success" (click)="actualizarArticulo()">Actualizar</button>
      <button class="btn btn-secondary" (click)="cerrarFormularioEdicionArticulo()">Cancelar</button>
    </div>

  </div>